table {
    border-collapse: collapse;
    border: 1px solid #ccc;
}

td {
    border: 1px solid #ccc;
    width: 20px;
    height: 20px;
}

.alive {
    background-color: #00ff00;
}

button {
    font-size: 3rem;
    padding: 10px 30px;
    cursor: pointer;
}